.idea
/media/
/static/
*env
**/__pycache__/**
*pyc
db.sqlite3
.env
/.coverage
/test_media/*
!/test_media/.upload
!/test_media/.upload/*
!test_media/.gitkeep
test_media/.upload/
!test_media/.upload/.gitkeep
/test_public/

/.docs/_build/
/.docs/_static/
/.docs/.doctrees/
/.docs/autosummary/
/.envs/.prod/
