{% extends "admin/change_list.html" %}
{% load static i18n admin_urls static admin_list jazzmin %}

{% block page_actions %}
     <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
            <div>
                <label for="exercise_type_selector">{% trans "Select Exercise Type" %}</label>
                <select id="exercise_type_selector">
                    <option value="">{% trans "---------" %}</option>
                    {% for exercise_type in exercise_types %}
                        <option value="{{ exercise_type.id }}">{{ exercise_type.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



{% endblock %}



{% block extrajs %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // JavaScript для обробки вибору ExerciseType та перенаправлення на сторінку створення Exercise
        document.getElementById('exercise_type_selector').addEventListener('change', function(e) {
            const exerciseTypeId = e.target.value;
            if (exerciseTypeId) {
                const url = `{% url 'admin:grammar_grammarexercise_add' %}?exercise_type_id=${exerciseTypeId}`;
                window.location.href = url;
            }
        });
    });
</script>
{% endblock %}
